.box-container {
  width: auto;
  height: auto;
  display: flex;
  padding: 4rem 1rem 4rem 1rem;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.box-child {
  width: 175px;
  height: 175px;
  background-color: #7b848c;
  color: whitesmoke;
  font-weight: bolder;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5rem;
}

.box-child label {
  text-align: center;
  padding-bottom: 1rem;
}

.box-child img {
  height: 25px;
  width: 25px;
}

.img-button {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  padding: 0rem 0.5rem 1rem 0.5rem;
  justify-content: space-between;
}

.img-button .btn {
  background: transparent;
  height: 25px;
  width: 25px;
  border: none;
}

.star-off {
  filter: opacity(0.25) drop-shadow(0 0 0 rgb(225, 225, 231));
}
