.box-container {
  width: auto;
  height: auto;
  display: flex;
  padding: 4rem 1rem 4rem 1rem;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.box-child {
  width: 175px;
  height: 175px;
  background-color: #7b848c;
  color: whitesmoke;
  font-weight: bolder;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5rem;
}

.box-child label {
  text-align: center;
  padding-bottom: 1rem;
}

.box-child img {
  height: 30px;
  width: 30px;
}
